# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env (CRÍTICO)
.env
.env.*

# Docker
*.log

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db

# Gemini / Antigravity
.gemini/

# Uploads
backend/uploads/
